# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
vs2017/.vs/dblpbibtex/v15/ipch/AutoPCH/ce4934401fb8bbe9/BIB_GET.ipch
vs2017/.vs/dblpbibtex/v15/ipch/AutoPCH/2bc84c841b0d7e29/BIB_GET.ipch
vs2017/.vs/dblpbibtex/v15/Browse.VC.db
vs2017/.vs/dblpbibtex/v15/.suo
Release/dblpbibtex.ipdb
Release/dblpbibtex.iobj
Debug/dblpbibtex.pdb
Debug/dblpbibtex.ilk
vs2017/dblpbibtex.vcxproj.user
vs2017/libcurl/include/curl/curl.h
vs2017/libcurl/include/curl/curlver.h
vs2017/libcurl/include/curl/easy.h
vs2017/libcurl/include/curl/mprintf.h
vs2017/libcurl/include/curl/multi.h
vs2017/libcurl/include/curl/stdcheaders.h
vs2017/libcurl/include/curl/system.h
vs2017/libcurl/include/curl/typecheck-gcc.h
vs2017/libcurl/include/curl/urlapi.h
vs2017/x64/Debug/dblpbibtex.log
vs2017/x64/Debug/dblpbibtex.tlog/CL.command.1.tlog
vs2017/x64/Debug/dblpbibtex.tlog/CL.read.1.tlog
vs2017/x64/Debug/dblpbibtex.tlog/CL.write.1.tlog
vs2017/x64/Debug/dblpbibtex.tlog/dblpbibtex.lastbuildstate
vs2017/x64/Debug/dblpbibtex.tlog/link.command.1.tlog
vs2017/x64/Debug/dblpbibtex.tlog/link.read.1.tlog
vs2017/x64/Debug/dblpbibtex.tlog/link.write.1.tlog
vs2017/x64/Debug/vc141.idb
vs2017/x64/Debug/vc141.pdb
vs2017/x64/Release/dblpbibtex.Build.CppClean.log
vs2017/x64/Release/dblpbibtex.log
vs2017/x64/Release/dblpbibtex.tlog/CL.command.1.tlog
vs2017/x64/Release/dblpbibtex.tlog/CL.read.1.tlog
vs2017/x64/Release/dblpbibtex.tlog/CL.write.1.tlog
vs2017/x64/Release/dblpbibtex.tlog/dblpbibtex.lastbuildstate
vs2017/x64/Release/dblpbibtex.tlog/dblpbibtex.write.1u.tlog
vs2017/x64/Release/dblpbibtex.tlog/link.command.1.tlog
vs2017/x64/Release/dblpbibtex.tlog/link.read.1.tlog
vs2017/x64/Release/dblpbibtex.tlog/link.write.1.tlog
vs2017/x64/Release/vc141.pdb
/.vs
/vs2017/.vs/dblpbibtex/v16
*.pdb
/vs2017/x64/Release/dblpbibtex.vcxproj.FileListAbsolute.txt
/vs2017/Debug/dblpbibtex.tlog
